.popup__container{
  max-width: 430px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  padding-left: 36px;
  box-sizing: border-box;
  padding-top:0;
  padding-bottom: 0;
  border: none;
}

@media screen and (max-width: 580px){
  .popup__container{
    max-width: 282px;
    top: 123px;
    padding-left: 22px;
    max-height: 322px;
  }
}