.profile__subtitle{
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-column: 1;
  margin: 0;
  padding-bottom: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 681px) {
  .profile__subtitle{
    font-size: 14px;
    line-height: 1.2;
    justify-self: center;
    padding-bottom: 0;
    padding-left: 25px
  }
}