.photo-grid__like{
  min-width: 22px;
  min-height: 22px;
  align-self: center;
  background-color: inherit;
  background-image: url(../../../images/Heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: ease-in;
  cursor: pointer;
}
.photo-grid__like:hover{
  opacity: .5;
}

