.photo-grid__delete{
  min-width: 18px;
  min-height: 19px;
  background-color: transparent;
  background-image: url(../../../images/Group.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: ease-in;
  position: absolute;
  right: 17px;
  top: 18px;
}
.photo-grid__delete:hover{
  opacity: .5; 
}